In [2]:
import pandas as pd

In [108]:
data = pd.read_excel("Quant_Metabolomics.xlsx", sheet_name="SciexOS_export")
relevant_columns = ["Plate Position", "Sample Name", "Component Name", "Dilution Factor", "Height", "Area", "Height Ratio", "Component Group Name", "Calculated Concentration"]
data = data[relevant_columns]

/Users/nicow/SciexOS_converter/venv/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [109]:
data["Component Group Name"]
data["Type"] = data.apply(lambda x: x["Component Name"].split(".")[1], axis=1)

In [110]:
data_light = data[data["Type"]=="Light"].reset_index(drop=True)
data_light = data_light.rename(columns={"Height": "Height Light"})
data_heavy = data[data["Type"]=="Heavy"].reset_index(drop=True)
data_heavy = data_heavy.rename(columns={"Height": "Height Heavy"})
data = pd.merge(data_light, data_heavy[["Sample Name", "Component Group Name", "Height Heavy"]], on=["Sample Name", "Component Group Name"])

In [113]:
pivot_table = pd.pivot_table(data, values=["Height Heavy", "Height Light", "Height Ratio", "Calculated Concentration"], index=["Plate Position", "Sample Name", "Dilution Factor"], columns=["Component Group Name"])
pt = pivot_table.stack(0).unstack()

In [114]:
pt

Component Group Name                              23dpg                \
                                           Height Heavy  Height Light
Plate Position Sample Name Dilution Factor
176            QC1_1       1                4107.551556  27760.104654
178            1           1                3119.815627  29342.210552
179            2           1                2921.269172  25003.442140
180            3           1                3993.074396  23456.260167
181            4           1                4307.114396  25682.350349
...                                                 ...           ...
4170           156         10                       NaN           NaN
4171           157         10                       NaN           NaN
4172           158         10                       NaN           NaN
4173           159         10                       NaN           NaN
4175           QC1_5       1                        NaN           NaN

Component Group Name                                            6pgc  \
                                           Height Ratio Height Heavy
Plate Position Sample Name Dilution Factor
176            QC1_1       1                   6.758309          NaN
178            1           1                   9.405110          NaN
179            2           1                   8.559102          NaN
180            3           1                   5.874236          NaN
181            4           1                   5.962774          NaN
...                                                 ...          ...
4170           156         10                       NaN          NaN
4171           157         10                       NaN          NaN
4172           158         10                       NaN          NaN
4173           159         10                       NaN          NaN
4175           QC1_5       1                        NaN          NaN

Component Group Name                                                  \
                                           Height Light Height Ratio
Plate Position Sample Name Dilution Factor
176            QC1_1       1                        NaN          NaN
178            1           1                        NaN          NaN
179            2           1                        NaN          NaN
180            3           1                        NaN          NaN
181            4           1                        NaN          NaN
...                                                 ...          ...
4170           156         10                       NaN          NaN
4171           157         10                       NaN          NaN
4172           158         10                       NaN          NaN
4173           159         10                       NaN          NaN
4175           QC1_5       1                        NaN          NaN

Component Group Name                                f1p               \
                                           Height Heavy Height Light
Plate Position Sample Name Dilution Factor
176            QC1_1       1                        NaN          NaN
178            1           1                        NaN          NaN
179            2           1                        NaN          NaN
180            3           1                        NaN          NaN
181            4           1                        NaN          NaN
...                                                 ...          ...
4170           156         10                       NaN          NaN
4171           157         10                       NaN          NaN
4172           158         10                       NaN          NaN
4173           159         10                       NaN          NaN
4175           QC1_5       1                        NaN          NaN

Component Group Name                                             f6p  \
                                           Height Ratio Height Heavy
Plate Position Sample Name Dilution Factor
176            QC1_1       1                        NaN          NaN
178            1           1                        NaN          NaN
179            2           1                        NaN          NaN
180            3           1                        NaN          NaN
181            4           1                        NaN          NaN
...                                                 ...          ...
4170           156         10                       NaN          NaN
4171           157         10                       NaN          NaN
4172           158         10                       NaN          NaN
4173           159         10                       NaN          NaN
4175           QC1_5       1                        NaN  3929.016562

Component Group Name
                                            Height Light Height Ratio
Plate Position Sample Name Dilution Factor
176            QC1_1       1                         NaN          NaN
178            1           1                         NaN          NaN
179            2           1                         NaN          NaN
180            3           1                         NaN          NaN
181            4           1                         NaN          NaN
...                                                  ...          ...
4170           156         10               24018.465781          NaN
4171           157         10               14970.019295          NaN
4172           158         10               17036.439354          NaN
4173           159         10                7402.543303          NaN
4175           QC1_5       1                73663.506286    18.748586

[567 rows x 12 columns]

In [99]:
pt

Empty DataFrame
Columns: []
Index: []